body{
    margin: 0%;
    padding: 0%;
}

.top-bar{
    width: 100%;
    height: 10%;
    background-color: black;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    position: absolute;
}




